<%= form_for([@todo_list, @todo_item]) do |f| %>

  <% if @todo_item.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @todo_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.text_field :content, placeholder: "New Todo" %>
  <%= f.submit %>
<%end%>
