<div class="row clearfix">
  <%if todo_item.completed?%>
    <div class="complete">
      <%= link_to  complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do%>
        <i style="opacity:0.4;" class="fa fa-check"></i>
      <%end%>
    </div>
    <div class="todo_item">
      <p style="opacity: 0.4"><strike><%= todo_item.content %></strike></p>
    </div>

   <div class="trash">

      <%= link_to  [@todo_list, todo_item], method: :delete do%>
        <i class="fa fa-trash"></i>
      <%end%>
    </div>

  <% else %>

    <div class="complete">
       <%= link_to  complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do%>
        <i class="fa fa-check"></i>
      <%end%>
    </div>

    <div class="todo_item">
      <p><%= todo_item.content %></p>
    </div>

    <div class="trash">
      <%= link_to  [@todo_list, todo_item], method: :delete do%>
        <i class="fa fa-trash"></i>
      <%end%>
    </div>
  <%end%>
</div>
