<% @todo_lists.each do |todo_list|%>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to todo_list.title,todo_list%></h2>
    <p class="todo_list_sub_title"><%= todo_list.description%></p>
  </div>
<%end%>
<div class="links">
  <p><%=link_to "New To do List",new_todo_list_path%>
</p>
</div>
<div class = "authentication">
  <%if user_signed_in?%>
    <%=link_to "Edit Account",edit_user_registration_path%> |
    <%=link_to " Log Out",destroy_user_session_path, method: :delete %>

    <%else%>
<p> <%=link_to "Sign Up",  new_user_registration_path%> |<%=link_to " Sign In",new_user_session_path%>
<%end%></p>
  </div>
