
<h2 class="todo_list_title">
  <%= @todo_list.title %>
</h2>

<p class="todo_list_sub_title">
  <%= @todo_list.description %>
</p>
<div class="links">
  <% if correct_user?(@todo_list.user)%>
    <%= link_to 'Edit', edit_todo_list_path(@todo_list.id) %> |
    <%= link_to 'Delete', @todo_list, method: :delete, data:{confirm: "Are you sure"} %> |
  <%end%>
    <%= link_to ' Back to Home', todo_lists_path %>
</div>
 <br>
<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div id="form">
    <%= render 'todo_items/form'%>
  </div>

</div>
