<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel=" stylesheet" type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel=" stylesheet">

</head>
<body>
<div class="container">
  <% flash.each do |name,msg| %>
    <%= content_tag(:div, msg , class: "notice") %>
  <%end%>

  <%= yield %>
</div>

</body>
</html>

